* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background: url(../img/header-bg.jpg) no-repeat center;
  background-size: cover;
  height: 50vh;
}

.header-top {
  display: flex;
  width: 95%;
  margin: 0 auto 0 auto !important;
  height: 10vh;
  align-items: center;
  margin-bottom: 50px;
}

.logo-container,
.nav-links,
.functions {
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 1;
}

.logo {
  margin: 5px;
}

nav {
  flex: 2;
}
.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.functions {
  flex: 1;
  justify-content: flex-end;
}

.functions-item {
  margin: 0 10px 0 10px;
}

#search {
  border: none;
  border-radius: 50px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 30px;
  color: white;
}

#search::placeholder {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#signin {
  height: 35px;
  width: 125px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  color: white;
}

.header-bottom {
  display: flex;
  flex: 2;
  width: 95%;
  margin: 0 auto 0 auto;
  height: 10vh;
  align-items: center;
}

.header-bottom-cont {
  display: flex;
}

#player-cont {
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
}

#figures-cont {
  flex: 0.8;
  justify-content: flex-start;
}

#figures-buttons-cont {
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.figures-button {
  width: 150px;
  height: 35px;
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

#player-functions-cont {
  margin-bottom: 30px;
}

#player-text-cont {
  flex-direction: column;
  color: white;
  justify-content: center;
}

#displayer-cont {
  display: flexbox;
  flex-direction: column;
  flex: 1;
}

.album-display {
  justify-content: center;
  color: white;
}

.album-photo img {
  height: 150px;
}

#album-text-1 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#album-text-2 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#gradiente {
  position: absolute;
  height: 250px;
  right: -120px;
}

main {
  display: flexbox;
  flex-direction: column;
}

.main-cont {
  display: flex;
}

#songs-info {
  flex-direction: row;
  border-bottom: 1px solid #a4a4a4;
}
#new-albums {
  flex: 1;
}
#top-songs {
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

#top-songs-header {
  width: 90%;
  flex-direction: row;
  align-items: center;
  margin: 30px 0 0 30px !important;
}

#top-songs-table {
  margin: 50px 0 50px 30px;
}

#top-songs-header h2 {
  font-size: 2rem;
  flex: 1;
}

#sub-cont h3 {
  color: #a4a4a4;
}

#sub-cont {
  flex: 2;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #a4a4a4;
  align-items: center;
  padding: 10px 0 10px 0;
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}

#table-header {
  font-size: 1.3rem;
  font-weight: 400;
  color: #e6e4e4;
  border-bottom: 2px solid #a4a4a4;
  margin-bottom: 30px;
}

.rank {
  font-weight: 800;
  font-size: 1.7rem;
}

#new-albums {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#new-albums h2 {
  font-size: 2rem;
}

.album-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}

.album-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-card p {
  text-align: center;
}

#songs-events {
  flex-direction: row;
  justify-content: center;
  
}

#table-container {
  margin: 50px 0 50px 0;
  display: flex;
  width: 80%;
}

#dates-table {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  box-shadow: 3px 3px 0.5px #cccccc;
}

#date-row {
  display: flex;
  justify-content: space-evenly;
}

.dates-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px 0 30px;
  width: 200px;
}

.dates-column p {
  font-size: 1.2rem;
  font-weight: 600;
}

.arrow-resize {
  height: auto;
  width: 20px;
}

.rotate-img {
  transform: rotate(90deg);
}

#floating-banner {
  right: 230px;
  bottom: -720px;
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  z-index: 1;
  border-radius: 50px;
  box-shadow: 3px 3px 0.5px #cccccc;
}

.date-event {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 30px 0 30px 0;
  border-bottom: 1px solid #a4a4a4;
}

.inner-cont {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 20px 10px 20px;
}

.inner-cont .day {
  font-size: 3rem;
  font-weight: 600;
}

.inner-cont .date span {
  color: #a4a4a4;
}

#date-text-cont {
  border: none !important;
  font-weight: 600;
}

.comprar-btn {
  height: 35px;
  width: 125px;
  border: 2px solid white;
  background-color: #00CFA5;
  border-radius: 50px;
  color: white;
  font-weight: 600;
}

#selected {
  background: white;
  border-radius: 15px;
  border: 1px solid #cccccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}